
@{
    ViewBag.Title = "lienhe";
    Layout = "~/Views/Shared/_LayoutTra.cshtml";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../img/favicon_tea.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/contact.css" />
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Contact</title>
  </head>
  <body>
    <div class="app">
      <!-- Header start -->
      
      <!-- Header end -->
      <!-- Contact body start -->
      <div class="app__contact-body">
        <h3 class="contact-body__title">LIÊN HỆ VỚI CHÚNG TÔI</h3>
        <form action="" class="contact-body__form">
          <input type="text" class="contact__input" placeholder="Full name" />
          <input type="email" class="contact__input" placeholder="Email" />
          <input
            type="text"
            class="contact__input"
            placeholder="Phone Number"
          />
          <input type="text" class="contact__input" placeholder="Content" />
          <button class="contact__btn">Send</button>
        </form>
      </div>
      <!-- Contact body end -->
      <!-- Footer start -->
      
      <!-- Footer end -->
    </div>
  </body>
</html>


