
@{
    ViewBag.Title = "Tintuc";
    Layout = "~/Views/Shared/_LayoutTra.cshtml";
}




    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea</title>

    <!-- FONT-AWESOME  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <!-- BOOTSTRAP  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- glidejs  -->

    <link rel="stylesheet" href="~/assets/css/glide.theme.min.css">
    <link href="~/assets/css/glide.core.min.css" rel="stylesheet" />

    <!-- CSS  -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/introduce.css">
    <link rel="stylesheet" href="~/assets/css/news.css">
    <link rel="stylesheet" href="~/assets/css/index.css">

        <body>


            <!-- END HEADER  -->
            <!-- SECTION NEWS -->
            <section class="wrapper__news">

                <div class="container">
                    <h2>TIN TỨC</h2>
                    <div class="row" id="Tintuc">

                    </div>
                    <ul class="pagination">
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span class="icon">››</span>

                    </ul>
                </div>
            </section>

            <!-- SECTION FOOTER  -->

        </body>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <!-- GLidejs -->

        <script src="~/assets/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/glide.min.js" integrity="sha512-IkLiryZhI6G4pnA3bBZzYCT9Ewk87U4DGEOz+TnRD3MrKqaUitt+ssHgn2X/sxoM7FxCP/ROUp6wcxjH/GcI5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



