@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/~/assets/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/assets/fonts/icomoon/style.css" />

    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />

    <!-- Style -->
    <link rel="stylesheet" href="~/assets/css/styleLogin.css" />

    <title>Admin Login</title>

    <script type="text/javascript">
        function Login() {
            var userName = $('#username').val();
            var passWord = $('#password').val();
            // Gửi yêu cầu đăng nhập đến API
            $.ajax({

                type: 'POST',
                url: 'https://localhost:44336/api/Account/Login',
                data: JSON.stringify({ Username: userName, Password: passWord }),
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    // Lưu thông tin tài khoản và token vào Local Storage để sử dụng cho các lần yêu cầu khác

                    localStorage.setItem('userToken', data.Token);

                    // Chuyển hướng đến trang chủ hoặc trang được yêu cầu trước đó
                    window.location.href = 'https://localhost:44386/Default/Sanpham';
                },
                error: function (xhr, status, error) {
                    alert('Lỗi đăng nhập: ' + xhr.responseText);
                }
            });
        }
    </script>

</head>

<body>
    <a href="@Url.Action("Loginkh", "Default")" class="sigIn-user"><i class="fa-solid fa-arrow-left"></i> Sign In to User</a>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="~/assets/img/undraw_file_sync_ot38.svg"
                         alt="Image"
                         class="img-fluid" />
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Sign In to <strong>Admin</strong></h3>
                                <p class="mb-4">
                                    Lorem ipsum dolor sit amet elit. Sapiente sit aut eos
                                    consectetur adipisicing.
                                </p>
                            </div>
                            <form action="#" method="post">
                                <div class="form-group first">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" />
                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" />
                                </div>

                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-0">
                                        <span class="caption">Remember me</span>
                                        <input type="checkbox" checked="checked" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                                </div>

                                <button id="btn-login" onclick="Login();">Đăng nhập</button>

                                <span class="d-block text-left my-4 text-muted">
                                    or sign in with
                                </span>

                                <div class="social-login">
                                    <a href="#" class="facebook">
                                        <span class="icon-facebook mr-3"></span>
                                    </a>
                                    <a href="#" class="twitter">
                                        <span class="icon-twitter mr-3"></span>
                                    </a>
                                    <a href="#" class="google">
                                        <span class="icon-google mr-3"></span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>

</html>